@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff--primary);

  scroll-behavior: smooth;
}

img, svg {
  display: block;
  max-width: 100%;
}

main{
  width: 90%;
  margin-inline: auto;
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
    
  
  }
}.anim{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
