@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff--primary);

  scroll-behavior: smooth;
}

img, svg {
  display: block;
  max-width: 100%;
}

main{
  width: 98%;
  margin-inline: auto;
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
    
  
  }
}.anim{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


.card {
  width: 200px;
  height: 250px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card-back {
  background: #8b5cf6;
  color: white;
  transform: rotateY(180deg);
}
